<!DOCTYPE html>
<html lang="en">
<head>
<!-- Another option would be to have the script here that literally creates the tables based
on the csv file. I would look up how to create tables in javascript and apply the attributes for
the table that I have created below-->

<script src="../static/js/classesForVoter.js"></script>
<script src="../static/js/tableMaking.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script>
  window.onload($.get("../static/candidateData/s.csv"), function(mega) {
  	console.log(mega);
  });
</script>

<meta charset="utf-8"/>
<style>
body {
    height: 100%;
    background: white;
}

.info {
    border:3px solid black;
	padding: 10px;
}
.facts {
    border:3px solid black;
	text-align:center;
}

.choices{
	text-align: left;
}

.heading {
    color: black;
    font-size: 50px;
    font-family: Helvetica;
}

.candidates {
    background-color:white;
    font-family: Helvetica;
	margin: 5px;
}

p {
    font-family: Helvetica;
}
.flag {
  float: right;
  size: 1px;

}
</style>
<title>CandiDate</title>
</head>
<body onload = initializeRows(candidateExample2);>
<h1 class="heading">Welcome to CandiDate</h1>
<img src="../static/800px-Flag_of_the_United_States.png" alt="works" class="flag">


<div class="Instructions">
<p>
    Welcome to CandiDate. 
    Below, you will see the potential candidates and where
    they stand on the current issues. 
    Please rank yourself on the current issues.
</p>
</div>
<div class="Candidates">
<table class="candidates" id="candidates">
<tr class="issues">
    <th class="info">Name</th>
    <th class="info">Age</th>
    <th class="info">State</th>
    <th class="info">Party</th>
    <th class="info">Foreign Policy</th>
    <th class="info">Religious Freedom</th>
    <th class="info">Reproductive Rights</th>
    <th class="info">Gun Control</th>
    <th class="info">Tax Reform</th>
    <th class="info">Education</th>
</tr>
</table>

<button type="button"  onclick="addRow(candidateExample);"> add another row(testing)</button>

</div>
<div class="submit">
  <!--Again connect this with the code that you use so that this button generates the results list.-->
    <button type="button">Submit!</button>
</div>
</body>
</html>
