<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CandiDate - Candidate form</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/script.js"></script>

</head>
<body>
<form id="candidate_side" action="http://localhost:5000/submit" method="POST" onsubmit="return validation()" enctype="multipart/form-data">
	<fieldset>
		<legend>Basic Information</legend>
		<label>Name:</label><br>
		<input type="text" id="name" name="name" required><br>
		
		<label>Picture:</label><br>
		<input type="file" id="photo" name="photo" accept="image/*" required><br>
		
		<label>Bio:</label><br>
		<textarea id="bio" name="bio" maxlength="140"></textarea><br>
		
		<input type="reset">
	</fieldset>
	<fieldset>
		<legend>Issues</legend>
		<label>Foreign Policy:</label><br>
		<textarea id="fp" name="Foreign Policy Stance" class="stance"></textarea><br>
		<label>Importance:</label><br>
		<input class="import" name="Foreign Policy Importance"type="number" min="1" max="100" required><br>
		
		<label>Abortion:</label><br>
		<textarea id="abort" name="Abortion Stance" class="stance"></textarea><br>
		<label>Importance:</label><br>
		<input class="import" name="Abortion Importance" type="number" min="1" max="100" required><br>
		
		<label>Education:</label><br>
		<textarea id="edu" name="Education Stance" class="stance"></textarea><br>
		<label>Importance:</label><br>
		<input class="import" name="Education Importance" type="number" min="1" max="100" required><br>
		
		<input type="reset">
	</fieldset>
	<input type="submit">
</form>
</body>
</html>
